body {
  background-color: #dcdcdc;
}

table {
   max-width: 95%;
   border: 10px solid #ff6600;
   text-align: center;
 }

th {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

td {
  background-color: #dcdcdc;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 75%;
  padding: 5px;
}

.threefourths {
  width: 50%;  
}

